<%= @game.player.name %>'s Game
<form action="/result" method="get">
<input type="submit" name="RPS" value="0">Rock
<button><input type="submit" name="RPS" value="1">Paper</button>
<button><input type="submit" name="RPS" value="2">Scissor</button>
</form>
